*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Times New Roman';
}

img{
    max-width: 100%;
}

header {
    padding: 10% 10% 2% 10%;
}


.banner{
    background-image: url(../images/design1_image1.jpg);
    background-size: cover;
    position: relative;
    width: auto;
    padding: 8% 10%;

}

.titulo{
    color: white;
    font-size: 45px;
    position: absolute;
    display: block;
    width: 100%;
    top: -32%;
    left: 0%;
    background-color: black;
}

.logo{
    width: auto;
    height: 108%;
    position: absolute;
    top: 4%;
    left: 1%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid black;
}

.encabezado{
    color:black;
    background-color: rgb(158, 155, 155);
    position: relative;
    text-align: center;
    vertical-align: middle;
    padding: 0.4% 0;
    border: 2px solid black;
}

body{
    display:flex; 
    flex-direction: column; 
    justify-content:center;
    /* min-height:100vh; */
}


main{
    margin:0px;
    padding: 0 10%;
    position: relative;

}

.menu{
    position: absolute;
    width: 60%;
    display: inline-block;
    padding: 0 15% 0 0;
    Top: -28%;
    Left: 55%;
    /* z-index: 1; */
    /* display: block; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.elementoMenu{
    height: 37px;
    padding: 2%;
    margin: 0 2% 0 0;
    /* display: inline-block; */
    color: white;
    background-color:rgb(45, 45, 46);;
    text-decoration: none;
    border: 2px solid black;

}

#elementoMenuActual{
    text-decoration: solid;
    color: white;
    background-color: rgb(18, 19, 18);
    border: 2px solid rgb(73, 68, 68);
} 

.panelInfo{
    padding: 0 15% 14% 0;
    position: absolute;
    top: 10%;
    left: 15%;
}

p{
    padding: 0 0 3% 0;    
}

p.parrafoSangrado{
    text-indent: 40px;
    text-align: justify;

}

.parrafoSangrado2{
    padding: 0;
}

a.email{
    color:rgb(65, 131, 185);
}

#encabezadoRules{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#rulesIHFFieldRegulationsList{
    list-style-type: decimal;
    list-style-position: inside;
}

#rulesIHFFieldRegulationsList li{
    padding: 0 0 13px 0;
}

.rulesSubtitle{
    padding: 2% 0 2% 0;
}

#rulesFieldsUsedByYoungAgeGroupsList{
    padding: 0;
}

#rulesFieldsUsedByYoungAgeGroupsList li{
    padding: 0;
}

.listAllPlay{
    list-style-type: circle;
    padding: 0 0 0 8%;
}