*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Times New Roman';
}

img{
    max-width: 100%;
}

header {
    padding: 15% 10% 2% 10%;
}


.banner{
    background-image: url(../images/design1_image1.jpg);
    background-size: cover;
    position: relative;
    padding: 8% 10%;

}

.titulo{
    color: white;
    font-size: 45px;
    position: absolute;
    display: block;
    width: 100%;
    top: -32%;
    left: 0%;
    background-color: black;
}

.logo{
    width: 13%;
    position: absolute;
    top: 6%;
    left: 1%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid black;
}

.encabezado{
    color:black;
    background-color: white;
    position: relative;
    text-align: center;
    vertical-align: middle;
    padding: 0.4% 0;
    border: 2px solid black;
}

main {
    margin:0px;
    padding: 0 10%;
    position: relative;

}

.menu {
    position: absolute;
    width: 45%;
    height: 3px;
    display: inline-block;
    padding: 0 15% 0 0;
    Top: -28%;
    Left: 74%;
    z-index: 1;
    display: block;
}

.elementoMenu {
    padding: 2%;
    margin: 0 2% 0 0;
    display: inline-block;
    color: white;
    background-color:rgb(45, 45, 46);;
    text-decoration: none;
    border: 2px solid black;

}

#elementoMenuActual{
    text-decoration: solid;
    color: white;
    background-color: rgb(18, 19, 18);
    border: 2px solid rgb(73, 68, 68);

} 

.panelInfo{
    padding: 0 15% 0 0;
    position: absolute;
    top: 10%;
    left: 15%;
}

p{
    padding: 0 0 3% 0;    
}

p.parrafoSangrado {
    text-indent: 40px;
    text-align: justify;

}

a.email {
    color:rgb(65, 131, 185);
}